node_modules
.next
out
.vercel
*.log
*.local
dist
coverage
.next/app-build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page.js
.next/server/app/(auth)/register/page.js
.next/static/chunks/webpack.js
